<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (ViewBag.Review != null && ViewBag.Result != null)
    {
        <div>
            <form action="~/Home/Index" method="post">
                @Html.AntiForgeryToken()
                <textarea name="review" placeholder="@ViewBag.Review"></textarea><br />
                <input type="submit">
            </form>
        </div><br />
        <div>
            <p> You have Entered a @Convert.ToString(ViewBag.Result) Review</p>
        </div>
    }
    else
    {
        <div>
            <form action="~/Home/Index" method="post">
                @Html.AntiForgeryToken()
                <textarea name="review" placeholder="Enter your review here"></textarea><br />
                <input type="submit">
            </form>
        </div>
    }
</body>
</html>
